@charset "UTF-8";

/* Estilo para telas*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
}

p {
    margin-top: 20px;
}

article {
    width: 50%;
    height: 100vh;
    margin: auto;
}